satochip_bridge/__pycache__/
satochip_bridge/satochip_bridge.ini
satochip_bridge/api_keys.ini
.venv/
dist/
contrib/build-linux/appimage/build/
contrib/build-linux/appimage/.cache/
contrib/build-wine/.cache/
contrib/build-wine/dist/
contrib/build-wine/build/
contrib/build-wine/fresh_clone/
contrib/build-wine/*.spec
contrib/build-windows/dist/
contrib/build-windows/build/
contrib/build-windows/__pycache__/
contrib/build-windows/*.spec
