PyQRCode==1.2.1
pypng==0.0.20
mnemonic==0.19
pyperclip==1.7.0
ecdsa==0.15
SimpleWebSocketServer==0.1.1
pyscard==1.9.9
pysatochip==0.12.3
cryptography==3.3.2
pykson>=0.9.9.8.7
pywalletconnectv1==0.1.1
requests==2.23.0
certifi

# ethereum specific
# pip resolves versions to eth-abi-2.1.1 eth-hash-0.3.2 eth-typing-2.3.0 eth-utils-1.10.0 rlp-2.0.1
eth-utils #==1.8.4
rlp #==1.2.0 or 3.0.0
eth-hash[pycryptodome] #==0.3.2
py-eth-sig-utils==0.4.0 # for eip712 signatures
#pycryptodome # for eth-hash

# GUI
PySimpleGUIQt==0.31.0
PySide2==5.12.6 #5.14.2 # <= 5.15.0
pillow == 9.0.1 #8.4.0
