PyQRCode==1.2.1
pypng==0.0.20 
mnemonic==0.19
pyperclip==1.7.0
ecdsa==0.15
SimpleWebSocketServer==0.1.1
pyscard==1.9.9
pysatochip==0.12.3
cryptography==3.3.2
rlp==2.0.1
certifi

# GUI
PySimpleGUIQt==0.31.0
PySide2==5.12.6 #5.14.2 # <= 5.15.0 
pillow == 8.4.0